<main class="main">
  <div class="container">
    <header>
      <h1>Gestión de Contratos</h1>
    </header>
    <h2>Insertar Contrato</h2>
    <form (submit)="insertarContrato(); $event.preventDefault()">
      <div>
        <label for="identificador">Identificador</label>
        <input type="text" id="Identificador" placeholder="Ingresa el identificador" [(ngModel)]="nuevoContrato.Identificador" name="Identificador" />
      </div>
      <div>
          <label for="valor">Valor</label>
          <input type="number" id="valor" placeholder="Ingresa el valor" [(ngModel)]="nuevoContrato.Valor" name="valor" />
      </div>
        <div>
          <label for="nombre_contratante">Nombre Contratante</label>
          <input type="text" id="nombre_contratante" placeholder="Ingresa el nombre del contratante" [(ngModel)]="nuevoContrato.nombre_contratante" name="nombre_contratante" />
        </div>
        <div>
          <label for="documento_contratante">Documento Contratante</label>
          <input type="text" id="documento_contratante" placeholder="Ingresa el documento del contratante" [(ngModel)]="nuevoContrato.documento_contratante" name="documento_contratante" />
        </div>
        <div>
          <label for="nombre_contratantista">Nombre Contratantista</label>
          <input type="text" id="nombre_contratantista" placeholder="Ingresa el nombre del contratantista" [(ngModel)]="nuevoContrato.nombre_contratantista" name="nombre_contratantista" />
        </div>
        <div>
          <label for="documento_contratantista">Documento Contratantista</label>
          <input type="text" id="documento_contratantista" placeholder="Ingresa el documento del contratantista" [(ngModel)]="nuevoContrato.documento_contratantista" name="documento_contratantista" />
        </div>
        <div>
          <label for="fecha_inicial">Fecha Inicial</label>
          <input type="date" id="fecha_inicial" [(ngModel)]="nuevoContrato.fecha_inicial" name="fecha_inicial" />
        </div>
        <div>
          <label for="fecha_final">Fecha Final</label>
          <input type="date" id="fecha_final" [(ngModel)]="nuevoContrato.fecha_final" name="fecha_final" />
        </div>
      <button type="submit">Insertar</button>
    </form>

    <h2>Todos los Contratos</h2>
    <ul>
        <table border="1">
          <thead>
            <tr>
              <th>Numero</th>
              <th>Identificador</th>
              <th>Valor</th>
              <th>Nombre Contratante</th>
              <th>Documento Contratante</th>
              <th>Nombre Contratantista</th>
              <th>Documento Contratantista</th>
              <th>Fecha Inicial</th>
              <th>Fecha Final</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contrato of contratos">
              <td>{{ contrato.ID }}</td>
              <td>{{ contrato.Identificador }}</td>
              <td>{{ contrato.Valor }}</td>
              <td>{{ contrato.nombre_contratante }}</td>
              <td>{{ contrato.documento_contratante }}</td>
              <td>{{ contrato.nombre_contratantista }}</td>
              <td>{{ contrato.documento_contratantista }}</td>
              <td>{{ contrato.fecha_inicial }}</td>
              <td>{{ contrato.fecha_final }}</td>
              <td><button (click)="obtenerContrato(contrato.id)">Ver</button></td>
            </tr>
          </tbody>
        </table>
    </ul>

    <h2>Contrato Seleccionado</h2>
    <section id="contrato-selected">
    <div *ngIf="contratoSeleccionado" class="selected-contract">
      <div>
        <label for="Identificador">Identificador:</label>
        <span id="Identificador">{{ contratoSeleccionado.Identificador }}</span>
      </div>
      <div>
        <label for="Valor">Valor:</label>
        <span id="Valor">{{ contratoSeleccionado.Valor | currency }}</span>
      </div>
      <div>
        <label for="nombre_contratante">Nombre Contratante:</label>
        <span id="nombre_contratante">{{ contratoSeleccionado.nombre_contratante }}</span>
      </div>
      <div>
        <label for="documento_contratante">Documento Contratante:</label>
        <span id="documento_contratante">{{ contratoSeleccionado.documento_contratante }}</span>
      </div>
      <div>
        <label for="nombre_contratantista">Nombre Contratantista:</label>
        <span id="nombre_contratantista">{{ contratoSeleccionado.nombre_contratantista }}</span>
      </div>
      <div>
        <label for="documento_contratantista">Documento Contratantista:</label>
        <span id="documento_contratantista">{{ contratoSeleccionado.documento_contratantista }}</span>
      </div>
      <div>
        <label for="fecha_inicial">Fecha Inicial:</label>
        <span id="fecha_inicial">{{ contratoSeleccionado.fecha_inicial }}</span>
      </div>
      <div>
        <label for="fecha_final">Fecha Final:</label>
        <span id="fecha_final">{{ contratoSeleccionado.fecha_final }}</span>
      </div>
    </div>
    </section>
  </div>
</main>


<router-outlet />
